@media (max-width: 991px) {
  .thamnail-block .iteam-blog-01 {
    position: relative;
  }
  /* .thamnail-block .iteam-blog-01 .iteam-blog-content {
    bottom: -168px;
  }
  .thamnail-block .iteam-blog-01 .right-content {
    bottom: -125px;
  } */
}
@media (max-width: 767px) {
  /* .thamnail-block .iteam-blog-01 {
    position: relative;
    margin-bottom: 220px;
  }
  .thamnail-block .iteam-blog-01 .iteam-blog-content {
    bottom: -200px;
  }
  .thamnail-block .iteam-blog-01 .right-content {
    bottom: -90px;
  } */
  .footer-menu {
    width: 100%;
  }
}

@media (max-width: 575px) {
  h2 {
    font-size: 25px;
  }
  .thamnail-block .iteam-blog-01 .iteam-blog-content {
    bottom: -90%;
  }
  .thamnail-block .iteam-blog-01 .right-content {
    bottom: -90%;
  }
  .heading-title {
    font-size: 25px;
  }
  .subcriptio-wrapper form {
    width: 100%;
    display: block;
    margin: inherit;
  }

  .footer-menu li {
    width: 100%;
    display: block;
    margin-right: 20px;
    padding: 10px 5px;
    text-align: center;
  }
}
