/*==================
HEADER TOP ROW SECTION  STYLES
=============================== */
.header-top-section {
  background: #212224;
  padding: 15px 0px;
}
.header-top-contents {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: center;
  font-family: "Josefin Sans";
}
.header-top-contents .breaking-news {
  color: #ff3c44;
  font-family: inherit;
  font-size: 20px;
  font-weight: 600;
  margin-right: 10px;
  text-transform: capitalize;
}
.header-top-contents p {
  font-family: inherit;
  font-size: 16px;
  font-weight: 300;
  color: #fff;
}
.header-top-contents p.read-more-btn a {
  font-family: "Josefin Sans";
  font-size: 15px;
  color: #fff;
  font-weight: 600;
  margin-left: 20px;
  text-transform: capitalize;
  transition: 0.3s linear;
}
.header-top-contents p.read-more-btn:hover a {
  color: #ff3c44;
}
.header-top-contents p.read-more-btn a i {
  font-size: 12px;
  vertical-align: middle;
  margin-left: 5px;
  color: inherit;
}
.header-top-contents p.read-more-btn:hover a i {
  color: #ff3c44;
}
.header-top-contents p.read-more-btn {
  font-family: "Josefin Sans";
  font-size: 15px;
  color: #fff;
  font-weight: 600;
  margin-left: 20px;
  transition: 0.3s linear;
}
/* HEADER MIDDLE SECTION STYLES  */
.header-middle-section {
  padding: 25px 0px;
  border-bottom: 1px solid #e5e8ea;
}
.header-social-icon a {
  font-size: 14px;
  color: #1a1a1a;
  background: #fbf1f2;
  display: inline-block;
  height: 42px;
  width: 42px;
  line-height: 42px;
  text-align: center;
  transition: 0.3s linear;
  margin-right: 10px;
  border-radius: 50px;
}
.header-social-icon a i {
  font-size: inherit;
  color: inherit;
  text-align: inherit;
}
.header-social-icon a:hover {
  color: #ffffff;
  background-color: #ff3c44;
}
.header-social-icon a.active {
  color: #ffffff;
  background-color: #ff3c44;
}
.header-middle-section .logo {
  margin-top: 5px;
}
.header-middle-section .logo a,
.header-middle-section .logo img {
  display: flex;
  margin: 0 auto;
  width: auto;
  height: auto;
  align-items: center;
  justify-content: center;
}
.search-bar .search-icon-bar a {
  font-family: "Josefin Sans";
  font-size: 14px;
  font-weight: 300;
  color: #1a1a1a;
  background: #fbf1f2;
  height: 45px;
  width: 45px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s linear;
}

.search-bar .search-icon-bar a:hover {
  color: #ffffff;
  background: #ee5542;
}
.search-bar .search-btn .btn-color {
  width: 150px;
  height: 45px;
  display: block;
  font-family: "Josefin Sans";
  font-size: 15px;
  font-weight: 600;
  line-height: 2.2;
  color: #ffffff;
  background-color: #f75454;
  text-transform: capitalize;
}
.search-bar .search-btn .btn-color:hover {
  color: #f75454;
  border: 1px solid #f75454;
  background-color: #ffffff;
}

/* HEADER MAIN MENU  */
.menu-section {
  background: #fff;
  position: relative;
  width: 100%;
  padding: 20px 0px;
  background: #fff;
  position: relative;
  width: 100%;
  padding: 20px 0px;
}
.menu-section .navbar .nav-item a {
  font-family: "Josefin Sans";
  font-size: 16px;
  color: #1a1a1a;
  font-weight: 600;
  display: inline-block;
  margin-right: 60px;
  transition: 0.3s linear;
}
.menu-section .navbar .nav-item a:hover {
  color: #f75454;
}

/*==================
HEADER TOP ROW SECTION  STYLES END
=============================== */

/*==================
BANNER SECTION  STYLES 
=============================== */
section#banner {
  padding-bottom: 100px;
}
section#banner .banner-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
.banner-column-left {
  flex-basis: 100%;
  max-width: 44.27%;
}
.banner-column-middle {
  flex-basis: 100%;
  max-width: 28.906%;
}
.banner-column-right {
  flex-basis: 100%;
  max-width: 23.697%;
}

.banner-column-left .iteam-contents {
  padding: 40px;
  padding-right: 0;
  width: calc(100% - 330px);
  margin-top: -236px;
}
.banner-column-left .iteam-contents h3 {
  padding: 22px 0px;
}
.banner-column-left .iteam-contents p {
  font-weight: 600;
  display: inline-block;
  text-transform: uppercase;
}
.banner-column-left .iteam-contents .man {
  color: #1a1a1a;
}
.banner-column-left:hover .iteam-contents {
  box-shadow: 0px 8px 30px rgb(15 50 63 / 6%);
}
.banner-column-middle .banner-card {
  width: 100%;
  height: auto;
  background-color: #fff;
  position: relative;
  z-index: 1;
  display: block;
  transition: 0.4s ease-out;
  box-shadow: 0px 7px 10px rgba(black, 0.5);
}
.banner-column-middle .banner-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  /* background: rgba(black, 0.6); */
  z-index: 2;
  transition: 0.5s linear;
  opacity: 0;
}

.banner-column-middle .banner-card img {
  width: 100%;
  height: auto;
}
.banner-column-middle .banner-card .middle-content {
  position: absolute;
  top: 50%;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  z-index: 3;
  color: white;
  opacity: 0;
  transform: translateY(-50%);
  transition: 0.5s;
  padding: 50% 0;
}
.banner-column-middle .banner-card:hover::before {
  opacity: 1;
}
.banner-column-middle .banner-card:hover .middle-content {
  opacity: 1;
  background: url(../images/banner/middle-overlay.png) no-repeat center center;
  background-size: cover;
}

.banner-column-middle .middle-content p,
.banner-column-middle .middle-content span {
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}
.banner-column-middle .middle-content h3 {
  color: #ffffff;
  padding: 22px 0;
  text-align: center;
}

/* BANNER RIGHT SIDE  */
.banner-column-right .banner-right {
  position: relative;
  margin-bottom: 30px;
}
.banner-column-right .banner-right .iteam-contents {
  position: relative;
  margin: 0 auto;
  padding: 27px;
  width: 100%;
  max-width: 345px;
  margin-top: -140px;
}
.banner-column-right .banner-right:hover .iteam-contents {
  box-shadow: 0px 8px 30px rgb(15 50 63 / 6%);
}
.banner-column-right .banner-right .iteam-contents h4 {
  padding-top: 14px;
}
/*==================
BANNER SECTION  STYLES  END
=============================== */

/*==================
 BANNER BOTTOM SECTION STYLES
 ============================== */
.banner-iteam-blocks-wrapper {
  border: 10px solid #e3e7eb;
  height: 97%;
}
.banner-iteam-blocks-wrapper img {
  width: 50%;
  height: auto;
}
.banner-iteam-blocks-wrapper .content-wish {
  width: 50%;
  height: auto;
}
.banner-iteam-blocks-wrapper .content-wish {
  padding: 60px 0;
}
.banner-iteam-blocks-wrapper .content-wish .sub-heading {
  padding-left: 24px;
}
.banner-iteam-blocks-wrapper .content-wish .description {
  font-size: 24px;
  padding: 25px 38px 30px 26px;
}
.banner-iteam-blocks-wrapper .content-wish p.meta-box {
  display: inline-block;
  padding-left: 26px;
}
.banner-iteam-blocks-wrapper .content-wish p.meta-box span {
  text-transform: uppercase;
}
.content-wish p.meta-box span.man {
  color: #1a1a1a;
}
.banner-single-element {
  position: relative;
  width: 100%;
  height: auto;
}
.banner-single-element .overlay-img {
  position: relative;
  display: block;
  z-index: 1;
}
/* .banner-single-element .overlay-img img {
  width: inherit;
  height: 100%;
  display: block;
} */

.banner-single-element .overlay-content {
  position: relative;
  padding: 30px;
  margin-top: -150px;
  z-index: 3;
}
.banner-single-element .overlay-content span.sub-heading {
  color: #ffffff;
}
.banner-single-element .overlay-content h4 a {
  font-size: 20px;
  color: #ffffff;
  margin-top: 20px;
  transition: 0.5s linear;
}
.banner-single-element .overlay-content h4:hover a {
  color: #1a1a1a;
}
/*======================
BANNER BOTTOM SECTION STYLES END 
================================*/
/*==================
EDITOR PICKS SECTION  STYLES
=============================== */
.editor-section {
  padding-top: 100px;
  padding-bottom: 0;
}
.editor-wrapper {
  margin-bottom: 80px;
}

.editor-wrapper .iteam-blog-content {
  width: calc(100% - 90px);
  padding: 40px 30px;
  margin-top: -219px;
}
.editor-wrapper .iteam-blog-content h3 {
  color: #1a1a1a;
  margin-top: 15px;
  margin-bottom: 20px;
}
.editor-wrapper .iteam-blog-content p.meta {
  display: inline-block;
  text-transform: uppercase;
}
.editor-wrapper .iteam-blog-content p.meta .editor {
  color: #1a1a1a;
  display: inline-block;
  font-size: inherit;
}
.editor-wrapper .iteam-contentss {
  width: 100%;
}
.editor-wrapper .iteam-contentss h4 {
  padding: 25px 0px;
}
.editor-wrapper .iteam-contentss p {
  color: #666666;
  line-height: 30px;
  font-size: 15px;
  padding-right: 50px;
  max-width: 93%;
}
.editor-wrapper .middle-picks {
  padding-top: 49px;
  padding-bottom: 79px;
}
.editor-wrapper .right-picks {
  padding-top: 74px;
  padding-bottom: 44px;
}

.banner-ads {
  color: #797a7b;
  background: #f7f7f7;
  font-weight: 600;
  padding: 70px 0px;
}

/*==================
EDITOR PICKS SECTION  STYLES END
=============================== */

/*==================
FEATURID BLOG SECTION  STYLES
=============================== */
.featured-section {
  padding-top: 100px;
  padding-bottom: 0;
}

.owl-carousel .owl-stage-outer {
  overflow: visible;
}
.featured-wrapper .iteam-contents {
  max-width: 330px;
  padding: 30px 20px 30px 30px;
}
/*==================
FEATURIED SECTION  STYLES END
=============================== */

/*==================
FASHION BLOG SECTION  STYLES
=============================== */
.fashion-section {
  padding: 100px 0;
}

.fashion-wrapper .iteam-contents {
  padding: 30px 0px 30px 30px;
  margin-top: -45px;
}
/*==================
FASHION BLOG SECTION  STYLES END
=============================== */
/*==================
TRAVEL BLOG SECTION  STYLES
=============================== */
.travel-section {
  background: #fdf8f5;
  margin-bottom: -50px;
  padding-top: 100px;
}
.travel-blog-wrapper .iteam-blog-01 {
  position: relative;
  margin-bottom: 150px;
}
.travel-blog-wrapper .iteam-blog-01 .travel-image {
  position: relative;
}
.travel-blog-wrapper .iteam-blog-01 .travel-content {
  padding: 48px 0px 50px 40px;
}
.travel-blog-wrapper .iteam-blog-01:hover .travel-content {
  box-shadow: 0px 8px 30px rgb(15 50 63 / 6%);
}
.travel-blog-wrapper .iteam-blog-01 .travel-content span.date {
  color: #797a7b;
  text-transform: uppercase;
  font-size: 12px;
  padding-bottom: 10px;
}
.travel-blog-wrapper .iteam-blog-01 .travel-content h3 {
  color: #1a1a1a;
  margin-top: 15px;
  margin-bottom: 20px;
}

/* TRAVELS RIGHT BLOGS  */
.travel-right-blog {
  margin-bottom: 40px;
}
.travel-right-blog .iteam-content {
  margin-left: 30px;
}
.travel-right-blog .iteam-content h4 {
  margin-top: 20px;
  margin-bottom: 25px;
}
/*==================
TRAVEL BLOG SECTION  STYLES END
=============================== */

/*==================
LATEST BLOG SECTION  STYLES
=============================== */
.blog-section {
  background: #ffffff;
  padding: 100px 0;
}

.thamnail-block .iteam-blog-01 {
  position: relative;
  /* margin-bottom: 30px; */
}
.thamnail-block .iteam-blog-01 .iteam-imgage {
  position: relative;
}

.thamnail-block .iteam-blog-01 .iteam-blog-content {
  /* background: #fff;
  padding: 30px 0px 30px 20px;
  position: absolute;
  bottom: -168px;
  right: 0;
  width: 93%;
  height: auto;
  max-width: 100%;
  padding: 34px 40px;
  transition: 0.3s linear;
  z-index: 999; */
}
.thamnail-block .iteam-blog-01:hover .iteam-blog-content {
  box-shadow: 0px 8px 30px rgb(15 50 63 / 6%);
}
.thamnail-block .iteam-blog-01 .iteam-blog-content p#sub-heading {
  color: #797a7b;
  text-transform: uppercase;
  font-size: 12px;
  padding-bottom: 10px;
}
.thamnail-block .iteam-blog-01 .iteam-blog-content p#sub-heading .date {
  color: #1a1a1a;
}
.thamnail-block .iteam-blog-01 .iteam-blog-content h3 {
  color: #1a1a1a;
  margin-top: 15px;
  margin-bottom: 20px;
  width: calc(100% - 61px);
}
.iteam-blog-content .comments-link {
  padding-left: 0;
}
.iteam-blog-content .comments-link li {
  display: inline-block;
}
.iteam-blog-content .comments-link li a {
  color: #797a7b;
  font-size: 13px;
}
.iteam-blog-content .comments-link li i {
  padding-right: 8px;
}
/* .thamnail-block .iteam-blog-01 .right-content {
  position: relative;
  z-index: 3;
  display: block;
  background: #ffffff;
  padding: 27px;
  padding-right: 0;
  margin-top: -40px;
  margin-left: auto;
  transition: 0.4s linear;
  width: calc(100% - 20px);
} */
.thamnail-block .iteam-blog-01 .right-content h4 {
  margin: 19px 0px 16px;
}
.thamnail-block .iteam-blog-01 .right-content .comments-link li a {
  color: #797a7b;
  font-size: 13px;
  text-transform: uppercase;
}

/*==================
LATEST BLOG SECTION  END
=============================== */

/* EMAIL SUBCRIPTION SECTION START */
.subcription-section {
  display: block;
  overflow: hidden;
  padding: 120px 0px;
  background: #fdf8f5;
}
.subcription-title-box {
  display: block;
  margin: 0 auto;
}
.subcription-title-box .sub-title {
  display: block;
  text-align: center;
  font-size: 14px;
  margin-bottom: 34px;
  text-transform: uppercase;
  color: #f75454;
}
.subcription-title-box .heading-title {
  margin-bottom: 60px;
}
.subcription-title-box .heading-title::after {
  display: none;
}

.subcriptio-wrapper form {
  width: 100%;
  margin: 0 auto;
  display: flex;
  max-width: 615px;
  text-align: center;
}
.subcriptio-wrapper form input[type="email"] {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;

  margin-right: 15px;
  border: none;
  outline: none;
  color: #97999b;
  border-radius: 50px;
  width: 100%;
}
.subcriptio-wrapper form input[type="submit"] {
  font-family: "Poppins" sans-serif;
  font-size: 13px;
  font-weight: 500;
  border: none;
  outline: none;
  color: #ffffff;
  background-color: #f75454;
  border-radius: 50px;
  text-transform: uppercase;
  width: 100%;
  max-width: 180px;
}
/* EMAIL SUBCRIPTION SECTION  END */

/* FOOTER SECTION  STYLES */
#footer {
  width: 100%;
  height: 100%;
  display: block;
  margin: 0 auto;
  color: aliceblue;
  background-color: black;
}
.footer-top {
  width: 100%;
  height: auto;
  display: block;
  overflow: hidden;
  padding: 118px 0px;
}
.footer-top .footer-logo img {
  width: auto;
  height: auto;
  display: block;
  margin: 0 auto;
}
.footer-menu {
  width: 100%;
  padding: 70px 0px;
  list-style: none;
  text-align: center;
}
.footer-menu li {
  display: inline-block;
  text-align: center;
  margin: 0 auto;
}

.footer-menu li a {
  color: #ffffff;
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  padding-right: 60px;
  text-transform: capitalize;
  transition: all 0.3s ease;
}

.footer-menu li a:hover {
  color: #ee5542;
}
.footer-social-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
}
.footer-social-wrapper a {
  display: inline-block;
  margin: 5px 10px;
}
.footer-social-wrapper a i {
  font-size: 16px;
  color: #ffffff;
  padding: 12px;
  border-radius: 50%;
  background: #5f5f5f;
  transition: 0.3s ease;
}
.footer-social-wrapper a:hover i {
  background-color: #ee5542;
  transform: rotate(360deg);
}
/* FOOTER BOTTOM SECTION STYLES */
.footer-bottom {
  width: 100%;
  height: auto;
  display: block;
  overflow: hidden;
}
.footer-bottom p.coppyright {
  text-align: center;
  padding: 30px 0px;
  border-top: 1px solid #313131;
}
.footer-bottom p.coppyright span {
  font-size: inherit;
  color: #f75454;
}
