* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  scroll-behavior: smooth;
  transition: all 0.3s ease;
}
div,
section {
  box-sizing: border-box;
}
.section-wrapper {
  padding-top: 100px;
  padding-bottom: 80px;
}
.section-title {
  display: block;
  margin: 0 auto;
  margin-bottom: 60px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Josefin Sans", sans-serif;
  margin: 0;
  padding: 0;
  transition: 0.4s linear;
}
h1,
h2,
h3 {
  font-family: "Josefin Sans", sans-serif;
}
h2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 36px;
  font-weight: 700;
  color: #1a1a1a;
}
.heading-title {
  font-family: "Josefin Sans", sans-serif;
  font-size: 36px;
  font-weight: 700;
  color: #1a1a1a;
  text-transform: capitalize;
  text-align: center;
  /* position: relative; */
}
.heading-title::after {
  content: "";
  display: block;
  width: 70px;
  height: 2px;
  background: red;
  margin: 9px auto;
}
h3 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 27px;
  font-weight: 600;
  color: #1a1a1a;
}
h4 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #1a1a1a;
}
h5 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #1a1a1a;
}
p {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #666666;
  padding: 0;
  margin: 0;
}
ul,
li {
  list-style: none;
}
a > button {
  font-family: "Poppins", sans-serif;
}

button > a {
  font-family: "Poppins", sans-serif;
}
button {
  font-family: "Poppins" sans-serif;
  font-size: 13px;
  font-weight: 500;
  padding: 20px 30px;
  margin-right: 20px;
  border: none;
  outline: none;
  color: #97999b;
  background-color: #f75454;
  text-transform: uppercase;
  width: 180px;
}

span {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 600;
}
span.sub-heading {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: #f75454;
  text-transform: uppercase;
  text-align: center;
}
.sub-heading {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: left;
  color: #f75454;
}
a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  transition: 0.4s linear;
}
img {
  width: 100%;
  height: auto;
  display: block;
}
.iteam-blog-01 {
  position: relative;
}
.iteam-contents {
  position: relative;
  z-index: 3;
  display: block;
  background: #ffffff;
  padding: 27px;
  padding-right: 0;
  margin-top: -40px;
  margin-left: auto;
  transition: 0.4s linear;
  width: calc(100% - 30px);
}
.iteam-blog-content {
  position: relative;
  z-index: 3;
  display: block;
  background: #ffffff;
  padding: 40px;
  padding-right: 0;
  margin-top: -70px;
  margin-left: auto;
  transition: 0.4s linear;
  width: calc(100% - 60px);
}
.iteam-blog-01:hover .iteam-contents {
  box-shadow: 0px 8px 30px rgb(15 50 63 / 6%);
}
.iteam-blog-01:hover .iteam-blog-content {
  box-shadow: 0px 8px 30px rgb(15 50 63 / 6%);
}
.iteam-blog-content h4 {
  margin: 19px 0px 16px;
}
span.date {
  color: #797a7b;
  text-transform: uppercase;
  font-size: 12px;
  padding-bottom: 10px;
}
.comments-link {
  padding-left: 0;
}
.comments-link li {
  display: inline-block;
}
.comments-link li a {
  color: #797a7b;
  font-size: 13px;
}
.comments-link li i {
  padding-right: 8px;
  font-size: inherit;
}
